* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  background-color: #e5e5e5;
  box-sizing: border-box;
}

.container {
  background-image: url(images/header-shapes-mobile.svg);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 100px;
  background-color: white;
  height: 600px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6070ff;
  padding: 50px 20px;
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
}

#my-logo {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  align-content: center;
  padding: 10px;
  -webkit-animation: rotate-center 0.6s ease-in-out 0.5s both;
  animation: rotate-center 0.6s ease-in-out 0.5s both;
}

#my-logo a {
  color: #6070ff;
  text-decoration: none;
}

.header img {
  fill: #6070ff;
  width: 30px;
  height: 30px;
  padding-right: 30px;
  background-color: #ffffff36;
}

.nav-bar {
  display: none;
}

.headline {
  margin: 0 0 20px 20px;
  color: #172b4d;
  padding-bottom: 30px;
  padding-top: 120px;
}

.headline-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-right: 55px;
  margin-bottom: 20px;
}

.headline p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 30px;
}

.social-media {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 50px;
}

.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-transform: uppercase;
}

.social-media-icons {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.work-section {
  margin: 80px 20px;
  color: #172b4d;
  display: grid;
  justify-content: space-between;
}

.work-section section {
  background-color: white;
  padding: 20px;
  margin-bottom: 70px;
  border: #dfe1e6 1px solid;
  border-radius: 10px;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.section-subtitle {
  display: grid;
  align-content: center;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr 2fr;
  color: #7a869a;
  align-items: center;
  justify-items: center;
}

.canopy {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.tonic-section {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

section.tonic-section > * {
  margin-bottom: 10px;
}

.section-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.technologies {
  display: grid;
  text-decoration: none;
  list-style: none;
  grid-auto-flow: column;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  justify-items: center;
  grid-template-columns: 20% 25% 25% 30%;
}

.technologies > li {
  background-color: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  padding: 3px 10px;
}

.button {
  width: 124px;
  height: 48px;
  float: left;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  margin-top: 10px;
  padding: 5px;
  transition: all;
  transition-duration: 1.5s;
}

.button:hover {
  background-color: #6070ff;
  color: white;
}

.button:disabled {
  color: #5e6c84;
  background-color: white;
}

.button:focus {
  background-color: #2230d2;
  color: white;
}

.resume-button {
  width: 140px;
}

.about-section {
  padding-top: 50px;
  background-color: white;
  border-top-right-radius: 50px;
  box-sizing: border-box;
  color: #172b4d;
  padding-bottom: 160px;
}

.headline-title2 {
  margin-right: 95px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 20px;
}

.category {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px #dfe1e6 solid;
}

.technology-categories {
  margin: 0 0 20px 20px;
  list-style: none;
  padding-right: 50px;
}

.languages {
  border-bottom: 0;
}

.detail {
  display: flex;
  justify-content: start;
  flex-direction: row;
  background-color: #f7f7f9;
  align-items: center;
  color: #253858;
  border-radius: 8px;
  margin: 10px;
}

.detail > img {
  width: 48px;
  height: 48px;
  padding: 8px;
}

.contact {
  background-image: url(images/contact-form-shapes-mobile.svg);
  background-color: #6070ff;
  border-top-left-radius: 60px;
  background-position: right;
  background-repeat: no-repeat;
  height: 779px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -50px;
}

.contact h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  padding-top: 103px;
  margin-bottom: 12px;
}

.contact p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  margin-bottom: 55px;
  margin-left: 24px;
  margin-right: 24px;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact input {
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 327px;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

textarea {
  box-sizing: border-box;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 22px;
  padding: 15px 38px 15px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 170px;
  width: 327px;
}

.btn {
  align-self: flex-start;
}

br {
  display: none;
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
  .header img {
    display: none;
  }

  .big-container {
    background-color: #fff;
    height: 880px;
    border-bottom-left-radius: 120px;
    padding-top: 48px;
  }

  .container {
    box-sizing: border-box;
    background-image: url(images/Header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 722px;
    margin: 70px 8px 40px 35px;
    align-content: center;
    padding: 0 auto;
  }

  .nav-bar {
    display: flex;
    color: #344563;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-right: 140px;
    justify-content: center;
    align-items: center;
  }

  .header {
    background-color: white;
    padding: 16px 20px;
    box-shadow: 10px 1px 15px #808080;
    -webkit-animation: shadow-drop-2-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-drop-2-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .nav-bar-list {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav-bar-list li {
    list-style: none;
  }

  #my-logo {
    margin-left: 150px;
  }

  .nav-bar-list li a {
    text-decoration: none;
    color: #344563;
    padding: 0 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    transition: all;
    transition-duration: 0.5s;
  }

  .nav-bar-list li a:hover {
    color: #2230d2;
  }

  br {
    display: block;
  }

  .headline-title {
    margin-top: 120px;
    font-size: 48px;
    line-height: 60px;
  }

  .headline p {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
  }

  .social-media-title {
    margin-bottom: 20px;
  }

  .work-section {
    margin: 80px 10%;
  }

  .tonic-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 1160px;
    border-radius: 24px;
    margin-top: 70px;
    transition: all;
    transition-duration: 2s;
  }

  .tonic-section:hover {
    border: 2px solid #a7aeff;
    box-shadow: 5px 5px 25px #a7aeff;
  }

  .tonic-section:hover .button {
    background-color: #2230d2;
    color: white;
    box-shadow: 5px 5px 20px #a7aeff;
  }

  .reverse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 1160px;
    grid-auto-flow: column;
  }

  .reverse img {
    grid-column-end: -1;
  }

  .tonic-section-image {
    margin: 10px;
  }

  .tonic-section-description {
    margin: 10px;
    padding: 14px;
  }

  .tonic-section-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .tonic-section-description > * {
    margin-bottom: 20px;
  }

  .section-subtitle {
    margin-bottom: 25px;
    display: flex;
    font-size: 18px;
    line-height: 24px;
  }

  .section-subtitle > * {
    padding: 10px;
  }

  .about-section {
    padding: 140px 10%;
    border-radius: 0%;
    display: flex;
  }

  .headline.about {
    padding-top: 0;
    padding-bottom: 0;
  }

  .about-description-section {
    flex: 1;
    padding-right: 40px;
    margin-right: 10px;
  }

  .technology-categories {
    flex: 1;
  }

  .button.resume-button {
    margin-top: 40px;
  }

  .about-description-section p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .detail {
    flex-direction: column;
    width: 122px;
    height: 120px;
  }

  .detail-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .technologies {
    margin-bottom: 45px;
  }

  .contact {
    background-image: url(images/contact-form-background-shapes.svg);
    background-color: #6070ff;
    border-top-left-radius: 120px;
    background-position: center;
    background-repeat: no-repeat;
    height: 846px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 10%;
    margin-top: -90px;
  }

  .contact-header h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 30px;
  }

  .contact-header p {
    max-width: 569px;
    height: 102px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
  }

  .contact input {
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    height: 48px;
    width: 447px;
  }

  .contact textarea {
    height: 170px;
    width: 447px;
    border-radius: 2px;
  }

  .btn {
    align-self: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 250px 0 250px;
  }
}

@keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
    transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
